input,
label,
textarea {
  margin: 10px 0;
}

.large-textarea {
  min-height: 12em;
  width: 100%;
}

.medium-textarea {
  min-height: 9em;
  width: 100%;
}

.wide-input {
  width: 100%;
}

.stacked {
  display: block;
}

.iip-event-subsection-heading {
  margin-top: 1em;
  margin-bottom: .5em;
}

.iip-event-lower-admin-container {
  display: flex;
  flex-direction: column;
}

.iip-event-datetime,
.iip-event-additional-info,
.iip-event-add-speakers,
.iip-event-add-materials,
.iip-event-add-contact {
  background-color: #F1F1F1;
  display: flex;
  padding: 10px;
}

.iip-event-add-materials {
  flex-direction: column;
}

.iip-event-add-files > div {
  border: 1px solid #e1e1e1;
}

.iip-event-details-column > p,
.iip-event-add-details > input {
  margin: 0 1em 0 0;
}

.iip-event-datetime,
.iip-event-additional-info,
.iip-event-add-speakers,
.iip-event-speaker {
  justify-content: space-between;
}

.iip-event-add-details,
.iip-event-speaker {
  display: flex;
  padding: .75em;
  width: 100%;
}

.iip-event-details-column,
.iip-event-speaker-column-1 {
  flex-basis: 33%;
}

.iip-event-speaker-column-2 {
  flex-basis: 66%;
}

.iip-event-additional-info,
.iip-event-add-speakers {
  align-items: flex-start;
  flex-direction: column;
}

.iip-event-start-date,
.iip-event-end-date,
.iip-event-time {
  flex-basis: 33%;
}

.iip-events-faux-label {
  margin: 0;
}

.iip-event-additional-info > label,
.iip-event-add-contact > label {
  flex-basis: 33%;
}

.iip-event-add-materials > label {
  flex-basis: 100%;
}

.iip-event-additional-info > label > input,
.iip-event-add-materials > label > input,
.iip-event-add-contact > label > input {
  width: 80%;
}

.iip-event-radio-toggle {
  margin-top: 10px;
}

input.iip-event-radio {
  margin: 0 10px;
}
