input,
label,
textarea {
  margin: 10px 0;
}

.large-textarea {
  min-height: 12em;
  white-space: pre-wrap;
  width: 100%;
}

.wide-input {
  width: 100%;
}

.stacked {
  display: block;
}

.iip-event-subsection-heading {
  margin-top: 1em;
  margin-bottom: .5em;
}

.iip-event-lower-admin-container {
  display: flex;
  flex-direction: column;
}

.iip-event-datetime,
.iip-event-additional-info,
.iip-event-add-speakers,
.iip-event-add-contact {
  background-color: #F1F1F1;
  display: flex;
  padding: 10px;
}

.iip-event-datetime,
.iip-event-additional-info,
.iip-event-add-speakers {
  justify-content: space-between;
}

.iip-event-start-date,
.iip-event-end-date,
.iip-event-time {
  flex-basis: 33%;
}

.iip-events-faux-label {
  margin: 0;
}

.iip-event-additional-info > label,
.iip-event-add-contact > label {
  flex-basis: 33%;
}

.iip-event-additional-info > label > input,
.iip-event-add-contact > label > input {
  width: 80%;
}

.iip-event-radio-toggle {
  margin-top: 10px;
}

input.iip-event-radio {
  margin: 0 10px;
}
