.iip-event-article {
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 1em;
}

.iip-event-featured-image {
  text-align: center;
}

.iip-event-featured-image > img {
  height: auto;
  max-width: 100%;
}

.iip-event-meta > p {
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
}

.iip-event-body,
.iip-event-speakers,
.iip-event-materials,
.iip-event-contact {
  margin-top: 1em;
}

.iip-event-body > p {
  white-space: pre-wrap;
}

.iip-event-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  justify-content: center;
  margin: 1em 0;
}